body{
    background-color: yellow;
    color:rgb(4, 211, 0);	
    background-image: url(./img/brazil_shirt-Football_Sports_wallpaper_2560x1600.jpg);
    
    
}

ul {
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 10px;
    list-style-type: none;
    font-size: 40px;
    text-decoration: none;
}

ul a{
    text-decoration: none;
}

ul img{
    width: 300px;
    height: 200px;
}

header{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
}

footer img{
    height: 30px;
}

table{
    background-color: rgba(79, 67, 67, 0.593);
    color: white;
}


table img{
    width: 50px;
    height: 70px;
}



tbody img{
    width: 30px;
    height: 30px;
}



footer{
    display: flex;
    justify-content: center;
    color: purple;
}

footer a{
    margin: 20px;
    text-align: center;
}

footer p{
    margin: 2px;
    color: purple;
}